@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Corinthia:wght@400;700&family=Inter:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
}
main,
section {
  width: 100vw;
  height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;

}

img {
  max-width: 100%;
}
.img-dest {
  object-fit: cover;

  width: auto;
  height: 45vh;
}

h1 {
  font-family: playfair display;

  color: #000000;

  font-size: 3rem;
  font-weight: 500;
  line-height: 0.8;
}

h1 span {
  font-family: Alex Brush;
  font-size: 4rem;
  font-weight: 400;

  text-transform: uppercase;
  
  color: #6a5a4a;
}

h2 {

	font-family: Playfair Display;
	font-weight: 500;
	font-size: 2rem;


}

h2 span {

	font-family: Corinthia;
	font-size: 2.5rem;

}

p {

	font-family: Inter;
	text-transform: uppercase;
	color: #B5A18E;
	padding: 8px 15px;
	border: 1px solid #B5A18E;
	width: 11rem;
	text-align: center;
	line-height: 1;

}